/* Global styles */

#banner {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid;
        color: #282;
        text-align: center;
}
/* Styles for products/index */

#product_list table {
        border-collapse: collapse;

}

#product_list table tr {
        padding: 1px;
        vertical-align: center;
        width:   10%;
        text-align: center;
}

#product_list table td {
        vertical-align: center;
        width:   10%;
        text-align: center;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

#product_list .index {
  text-align: left;
}

#product_list p {
  text-align:   center;
  background:   #f8b0f8;
  border-bottom:2px solid;
  color:        #282;
}

#mask_as_button {
        color:  #f8b0f8;
}

#notice {
        color:  #ff0000;
}